.general {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  src: local("Poppins"),
    url(../../../../Fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../../../../Fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

.context > h1 {
  color: #1b2530;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  padding: 0 1.6rem;
}

.info > div > label {
  padding-right: 1.5rem;
}

.inpname {
  display: flex;
  flex-direction: column;
}

.inppassword {
  display: flex;
  flex-direction: column;
}

.inpname > label,
.inppassword > label {
  color: #1b2530;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0.8rem;
}

.inpname > input,
.inppassword > input {
  display: flex;
  width: 343px;
  height: 48px;
  padding: 10px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #fff;
}

.registerButton {
  color: #fff;
  background: #226ce0;
}

.googleRegistr {
  color: #1B2530;
}

.facebookRegistr {
  color: #1B2530;
}

/* .setbtn {
  padding: 0 1.6rem;
} */
form {
  padding: 0 1.6rem;
}

.forgetPassword {
  margin-left: 50%;
}

.hrwithtext {
  position: relative;
  margin: 20px 0;
  color: var(--text-color-input-default, #bebebf);
}

.hrwithtext > hr {
  border: none;
  height: 1px;
  background-color: var(--text-color-input-default, #bebebf);
  margin: 0px 16px;
}

.textinsidehr {
  position: absolute;
  top: -10px;
  left: 50%;
  background-color: white;
  padding: 0 10px;
  font-size: 14px;
  color: var(--text-color-input-default);
  transform: translateX(-50%);
}

@media (max-width: 390px) {
}
